body {
    font-family: Verdana,sans-serif;
    font-size:12px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color:#FB1B1F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

ul#header, div#footer {
    padding: 10px;
    color: white;
    background-color: black;
}

 .dropbtn {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}
.bt{background-color:#FB1B1F;}
.dropbtn:hover, .dropbtn:focus {
    background-color:#FCFBB4;
	color:#1E1D1D;
	
}
#myInput{
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown1 a:hover {background-color: #ddd}

.show {display:block;}
 .dropbtn1 {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}

.dropbtn1:hover, .dropbtn:focus {
    background-color:#000000;
	color:#ffffff;
}
.dropbtn2 {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    font-size: 24px;
    border: 0px;
    cursor: pointer;
}

.dropbtn2:hover, .dropbtn:focus {
    background-color:#66ff33;
	color:#ffffff;
}
.dropbtn3 {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}

.dropbtn3:hover, .dropbtn:focus {
    background-color:#3399cc;
	color:#ffffff;
}
.dropbtn4 {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}

.dropbtn4:hover, .dropbtn:focus {
    background-color:#ff0033;
	color:#ffffff;
}
.dropbtn5 {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}

.dropbtn5:hover, .dropbtn:focus {
    background-color:#00ccff;
	color:#ffffff;
}
.dropbtn6 {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}

.dropbtn6:hover, .dropbtn:focus {
    background-color:#ff3333;
	color:#ffffff;
}
.dropbtn7 {
    background-color: #ffffff;
    color: black; padding: 10px;
    font-size: 24px;
    border: 1px;
    cursor: pointer;
}

.dropbtn7:hover, .dropbtn:focus {
    background-color:#ff6633;
	color:#ffffff;
}

.page_content{
	margin:15px;
	padding:5px;
	border-bottom:1px solid #EAEBFC;
}
.comment_input{
	background:#F4F4F9;
	margin:10px;
	padding:10px;
	border:1px solid #EEEEF8;
}

.button{
	padding:5px 15px 5px 15px;
    background:#FB6669;
    color: #FFF;
	border-radius: 3px;
}

.button a:hover{
	background:#F46164;
	color: #FFF;
	text-decoration:none
}

a{
	text-decoration:none;
}

.comment_logs{
	margin:5px;
	padding:5px;
	border:1px solid #EDEEF4;
}

.comments_content{
	margin:5px;
	padding:2px;
	border:1px solid #E1E9F9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

